.header {
  width: 100%;
  height: 90vh;
}

.header--top {
  width: 100%;
  height: 70%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../imgs/blogsite-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--top,
.header--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--bottom {
  width: 100%;
  height: 30%;
  padding: 0 10%;
  color: #999999;
}

.header--content {
  color: #dadada;
}

.header--content h1 {
  font-size: 2.5rem;
}

.header--content p {
  margin: 10px 0;
}

.header--content_btns {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
